/vendor/
/node_modules/
/.env
/public/build/
/.phpunit.cache/
/.phpunit.result.cache

/storage/logs/*
!/storage/logs/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/app/*
!/storage/app/.gitignore
/storage/*.sqlite
/storage/*.sqlite-journal

.idea/
.vscode/
.DS_Store
Thumbs.db
